CompileFlags:
  Add:
    - -std=c++20
    - -Wall
    - -pedantic
    - -I/home/mkh-free/Univeristy/BI-ZUM/Semestral/libs/
    - -I/home/mkh-free/Univeristy/BI-ZUM/Semestral/src/
  Compiler: clang++

